*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-size: 16px;
    line-height: 1.6;
    background: white;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Dosis', sans-serif;
}
.logo {
    background: rgba(196, 195, 195, 0.651);
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ************ flipping cards & hover ************** */
.class-gallery {
    width: 100vw;
    height: 90vh;
    display: flex;
    /* flex-wrap: wrap; */
    margin: auto;
    perspective: 1000px;
}

.profile-card {
    /* flex: 1; */
    /* width: calc(15%); */
    flex: 1 0 calc(200px);
    height: 100%;
    margin: -1px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: all 1s;
    /* border: 1px solid black; */
}

.profile-card:hover {
    /* flex: 4; */
    flex: 4 0 calc(400px);
    transition: all 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11) 0.5s;
}

.profile-card:hover .front-face {
    filter: grayscale(0);
    background-position: top;
    /* background-size: top; */
    background-repeat: no-repeat;
}

.profile-card:active {
    transform: scale(0.95);
    transition: transform 1s;
}

.profile-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    /* height: 100%; */
    position: absolute;
    backface-visibility: hidden;
}

.back-face {
    /* margin: auto; */
    height: 100%;
    background: #ffb600;
    border: 1px solid black;
    transform: rotateY(180deg);
    text-align: center;
    /* font-weight: 100px; */
    padding: 15px;
}

/*  ***** front info hover ***** */

.front-face-info {
    margin-top: 60vh;
    padding: 15px;
    color: #ffb600;
    /* opacity: 0; */
    transition: opacity 1s ease-out;
    background: rgba(37, 37, 37, 0.6);
    font-size: 1.2rem;
}
.front-face-info h5 {
    color: white;
}
.profile-card:hover .front-face-info {
    opacity: 1;
    transition: opacity 1s ease-in;
}

/* **** back face info **** */
.back-face .name,
.nationality,
.title,
.span-nationality {
    display: none;
}
.back-face h2 {
    margin-top: 5px;
}

.back-face,
.skills,
.why-developer,
.vision,
.motivation,
.quote,
.joined-on {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 10px;
}
.back-face .title {
    font-weight: bold;
    font-size: 20px;
}

/* .back-face .nationality {
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 10px;
} */

.back-face span {
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}

.back-face .skills {
    font-weight: normal;
    font-size: 15px;
}

.back-face .skills span {
    font-weight: bold;
    font-size: 20px;
}

.front-face {
    transition: filter 0.5s;
    filter: grayscale(80%);
    height: 100%;
    background-size: cover;
    background-position: center;
}

/* ************ hover and drop ************** */
.class-gallery {
    overflow-x: scroll;
    overflow-y: hidden;
    /* white-space: nowrap; */
    user-select: none;
    /* cursor: pointer; */
    transition: all 0.2s;
    /* transform: scale(0.98); */
    /* will-change: transform; */
}

.header {
    position: relative;
}

.arrow-wrapper {
    position: absolute;
    width: 0;
    /* background-color: greenyellow; */
    z-index: 1;
    display: none;
    align-items: center;
    /* top: -100vh; */
    height: 100vh;
}

.arrow {
    position: absolute;
    color: rgb(14, 13, 13);
    font-size: 100px;
    transform: scale(0.5, 1.2);
    width: 200px;
    opacity: 0.37;
}
.arrow:hover {
    opacity: 0.8;
    color: #ffb600;
    cursor: pointer;
}
.arrow-left {
    left: 0;
    margin-left: -80px;
    text-align: right;
}

.arrow-right {
    position: relative;
    left: 100vw;
    margin-left: -100px;
    padding-left: 0;
    /* left: calc(100vw-200px); */
}

.profile-card {
    /* display: inline-flex; */
    /* flex-wrap: wrap; */
}

@media only screen and (min-width: 600px) {
    .arrow-wrapper {
        display: flex;
    }
}

@media only screen and (max-width: 600px) {
    .logo img {
        width: 100px;
    }
    .logo {
        flex-wrap: wrap;
    }
}
